<%
html_style = '' unless html_style
cache_key = Article::HOT_COMMENT_ARTICLE_FRAGMENT_CACHE_KEY || "hot_articles_#{@first_column.try(:id) || 'uniq'}" unless cache_key
%>
  <%= content_for :header_js do %>
    javascript_include_tag '/utilities/tabs/tabs.js'
  <% end %>
  <% 
    hot_articles = Article.hot_articles(20)[0..9] unless hot_articles
    hot_comment_articles = Article.hot_comment_articles(20)[0..9]
  %>
  <div id="hotArticles" class="sectionA" style="<%=html_style%>">
    <div class="title">
      <h3>热门文章</h3>
      <ul id="hotTabsIndex" class="opts">
        <li class="first current"><a href="#hotArticle-1">最热点击</a></li>
        <% if false %>
        <li class="last"><a href="#hotArticle-2">最热评论</a></li>
      <% end %>
      </ul>
    </div>
      <div id="hotTabsContent" class="content">
        <div id="hotArticle-1">
          <ol class="articleList">
            <% if hot_articles and hot_articles.size > 0 %>
              <% hot_articles.each_with_index do |article, index|%>
                <% if index == 0 %>
                  <li class="articleRecommend">
                    <h5 class='rcTitle'>
                      <%= link_to article.list_title, article_url(article), {:target => "_blank"} %>
                    </h5>
                    <div class="rcDigest">
                      <%= link_to image_tag(article_thumbnail_path(article, :thumb_hs), :width => 80, :height => 60 ),  article_url(article), {:target => "_blank"} if article.image.present? %>
                      <p class="restrict" >
                        <%= article.show_digest %>
                      </p>
                    </div>
                    <div class="clear"></div>
                  </li>
                <% else %>
                  <li>
                    <b><%=index+1%>.</b><%= link_to article.list_title, article_url(article), {:target => "_blank"} %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ol>
      </div>
      <% if false %>
      <div id="hotArticle-2" style="display:none;">
        <ol class="articleList">
          <% if defined?(hot_comment_articles) and hot_comment_articles and hot_comment_articles.size > 0 %>
            <% hot_comment_articles.each_with_index do |article, index|%>
              <% if index == 0 %>
                <li class="articleRecommend">
                  <h5 class='rcTitle'>
                    <%= link_to article.list_title, article_url(article), {:target => "_blank", :title => article.title} %>
                  </h5>
                  <div class="rcDigest">
                    <%= link_to image_tag(article_thumbnail_path(article, :thumb_hs), {:target => "_blank", :title => article.title, :width => 80, :height => 60 } ),  article_url(article) if article.image.present? %>
                    <p class="restrict" >
                      <%= article.show_digest %>
                    </p>
                  </div>
                  <div class="clear"></div>
                </li>
              <% else %>
                <li>
                  <b><%=index+1%>.</b><%= link_to article.list_title, article_url(article), {:target => "_blank", :title => article.title} %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ol>
      </div>
    <% end %>
    </div>
  </div>
<script type="text/javascript">
  $(function(){
      $("#hotArticles").nbdtabs({
        tabsDOM:"#hotTabsIndex",
        contentDOM:"#hotTabsContent",
        symbolIndex:"hotArticle"
      });
  });
</script>
