<%= require_tabs_and_slelects %>
<%= require_tinymce %>
<%= require_popWin %>
<%= simple_form_for([:console, @article], :html => {:id => "article_form", :multipart => true}) do |f| %>
  <%= f.input :status, :as => :hidden, :default => 0 %>
  <input type="hidden" name="from_column_id" value="<%=params[:column_id]%>" />
  <div class="subRightCol">
    <fieldset class="formA roundCorner">
      <div style="margin-bottom:15px;">
        <%= f.label :column_ids, "所属栏目:" %>
        <% if @selected_id %>
          <%= f.grouped_collection_select :column_ids, Column.basic_columns.displaied_columns.includes(:children), :children, :name, :id, :name, {:selected => [@selected_id]}, {:class => "chzn-select", :multiple => true, :style => "width:200px;"} %>
        <% else %>
          <%= f.grouped_collection_select :column_ids, Column.basic_columns.displaied_columns.includes(:children), :children, :name, :id, :name, {}, {:class => "chzn-select", :multiple => true, :style => "width:200px;"} %>
        <%end %>
      </div>
      <div style="margin-bottom:15px;">
      <%= f.label :columnists_ids, "专家:" %>
      <%= f.association :columnists, :label => false, :input_html => {:class => "chzn-select", :style => "width:200px;"} %>
      <%= hidden_field_tag "article[columnist_ids][]", "" %>
      </div>
      <div class="keywords">
        <%= f.label :tags, "关键词:" %>
        <%= f.input :tags, :value => "test", :label => false, :hint => "多个关键词请用逗号或空格分隔" %>
      </div>
      <hr/>
      <p>
        <%= f.input :ori_author , :label => "文章作者:" %>
      </p>
      <p>
        <%= f.input :ori_source , :label => "文章来源:" %>
      </p>
      <hr/>
      <p>
        <%= f.input :special , :label => "强调显示:", :collection => Article::SPECIAL_OPTIONS, :include_blank => false %>
      </p>
      <hr/>
      <p>
        <%= f.input :allow_comment, :as => :boolean , :label => "允许评论" , :label_html => {:style => "float:none;width:auto" } %>
      </p>
      <p>
        <%= f.input :copyright, :as => :boolean , :label => "版权声明" , :label_html => {:style => "float:none;width:auto" } %>
      </p>
      <hr/>

        <% if @article.new_record?%>
          <p>
            <%= link_to "<span>存为草稿</span>".html_safe, "javascript:void(0);", :id => "draft_aricle", :class => "btnGrayBlue lf" %>
          </p>
          <div class="clear"></div>
          <hr/>
        <% else %>
          <% if @article.banned? %>
            <!--<p>
              <%= link_to "<span>发布文章</span>".html_safe, "javascript:void(0);", :id => "publish_article", :class => "btnGrayBlue lf" %>
            </p>-->
          <% else %>
            <p>
              <%= link_to "<span>屏蔽文章</span>".html_safe, "javascript:void(0);", :id => "baned_aricle", :class => "btnGrayBlue lf" %>
            </p>
            <div class="clear"></div>
            <hr/>
          <% end %>
        <% end %>
        <% link_to "<span>预览文章</span>".html_safe, "javascript:void(0);", :id => "preview_aricle", :class => "btnGrayBlue rf"%>

      <p>
        <%= f.input :is_rolling_news, :as => :boolean, :defautl => 0, :label => "是否为滚动新闻", :label_html => {:style => "float:none;width:auto" } %>
        <br/>
        <%= f.input :need_push, :as => :boolean, :defautl => 0, :label => "是否推送到客户端".html_safe, :label_html => {:style => "float:none;width:auto" } %>
      </p>
      <hr/>
      <p>
          <%= link_to "<span>#{(@article.banned? || @article.new_record? || @article.status == 0) ? '发布文章' : '更新文章'}</span>".html_safe, "javascript:void(0);", :id => "publish_article", :class => "btnBlueM rf" %>
      </p>
    </fieldset>
  </div>
  <div class="subLeftCol">
    <table class="formC">
      <tr>
        <th>
          <%= f.label :title, "文章标题:" %>
        </th>
        <td>
          <%= f.input :title, :label => false %>
        </td>
				<td id="thumbBoxWrapper" rowspan="2">
					<div id="thumbBox">
						<div id="newThumb" style="display:none;">
							<div id="newThumbCenter">
								<a href="javascript:void(0)" class="btnBlue"><span>添加缩略图</span></a>
							</div>
						</div>
						<%= f.fields_for :image, (@article.image ? @article.image : Image.new) do |image| %>
                <div id="imageThumb" class="tip">
                	<% if @article.image && !@article.image.thumbnail.nil? %>
									<%= image_tag(@article.image.thumbnail_url(:middle, :subdomain => "www"))%>
									<% end %>
								</div>
								<div id="thumbUpload">
		              <% if @article.image %>
		                <%= image.hidden_field :action %>
									<% end %>
										<a href="javascript:void(0)" id="removeThumbBtn">删除</a>
										<a href="javascript:void(0)">编辑</a>
									<%= image.file_field :thumbnail, :id => "thumbFileInput" %>
		              <%= image.hidden_field :thumbnail_cache%>
								</div>
	          <%end %>
					</div>
				</td>
      </tr>
      <tr>
        <th>
          <%= f.label :list_title, "列表标题:" %>
        </th>
        <td>
          <%= f.input :list_title, :label => false, :hint => "18个字以内，<span id='listTitleRestNum'>还可以输入<strong>18</strong>个字</span>".html_safe %>
          <span class='opt' style="display:none;"><input id="titleBold" type='checkbox' /><label for="titleBold">独家</label>
            <input id="titleRed" type='checkbox' /><label for="titleRed">重磅</label>
          </span>
        </td>
      </tr>
      <tr style="display:none;">
        <th>
          <%= f.label :sub_title, "子标题:" %>
        </th>
        <td colspan="2">
          <%= f.input :sub_title, :label => false %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :digest, "核心提示:" %>
        </th>
        <td colspan="2">
          <%= f.input :digest, :as => :text, :input_html => {:cols => 50, :rows => 3}, :label => false %>
        </td>
      </tr>	
      <tr>
        <th>
          <%= f.label :redirect_to, "跳转链接:" %>
        </th>
        <td colspan="2">
          <%= f.input :redirect_to, :label => false, :hint => "(可选) 点击查看文章时，会直接跳转到该链接" %>
        </td>
      </tr>	
    </table>
    <div id="editPageContent">
      <div class="tabs">
        <ul>
          <% unless @article.pages.blank? %>
            <% (1..(@article.pages.size)).each do |page_index| %>
              <% if page_index == 1 %>
                <li class='current'>
                  <a href="#tabs-<%= page_index %>">第<%= page_index %>页</a>
                </li>
                <% next %>
              <% end %>
              <li>
                <a href="#tabs-<%= page_index %>">第<%= page_index %>页</a>
              </li>
            <% end %>
          <% else %>
            <li class='current'>
              <a href="#tabs-1">第1页</a>
            </li>
          <% end %>
          <li>
            <a id="addTab" href="javascript:void(0)">新增</a>
          </li>
        </ul>
      </div>
      <div id="inputArea">
        <% unless @article.pages.blank? %>
          <% @article.pages.each_with_index do |page, index| %>
            <%= f.fields_for :pages, page do |p| %>
              <div id="tabs-<%= page.p_index %>">
                <%= p.input :content, :as => :text,  :label => false, :input_html => {:cols => 30, :rows => 20} %>
                <%= p.input :p_index, :as => :hidden %>
                <%= p.input :_destroy, :as => :hidden, :input_html => {:class => "page_destroy"} %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <%= f.fields_for :pages, @article.pages.new do |pages| %>
            <div id="tabs-1">
              <%= pages.input :content, :as => :text, :label => false, :input_html => {:cols => 30, :rows => 20, :class => "test"} %>
              <%= pages.input :p_index, :as => :hidden, :input_html => {:value => 1} %>
              <%= pages.input :_destroy, :as => :hidden, :input_html => {:class => "page_destroy"} %>
            </div>
          <% end %>
        <% end %>
      </div>
      <a href="javascript:void(0)" id="removePage" class="btnRed rf" style="margin:0 2px 0 auto"><span>删除此分页</span></a>
      <div class="clear"></div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
	// 供外部调用，插入图片
	var _insertImage = function(data){
		var inst = $("#inputArea div:visible textarea").focus().tinymce();
		inst.execCommand('mceInsertContent',false, data);
	}
	
  $(function(){
    var requireImageCol = ["2", "5", "9", "11", "34", "55", "57", "62", "69", "71", "76"];
    var textareaID;
    var $editPageContent = $('#editPageContent');
    var isNewArticle = $("#article_pages_attributes_0_id").length == 0 ? true : false; 
		var hasThumb = <%= !@article.image.nil? && !@article.image.read_attribute(:thumbnail).nil? %>;
    // 敏感词
    var badWordsRexp;
    <% unless Badword.dict.blank? %>
      badWordsRexp = new RegExp("<%= Badword.dict %>", "g");
    <% end %>
    var badWordsTip = "";
	
    var tinymceConfigs = {
      // General options
      theme: "advanced",
      plugins:"media",
      media_strict: false ,
      language:"zh-cn",
      relative_urls:false,
      convert_urls:false,
      // Theme options
      theme_advanced_buttons1: "bold,link,unlink,justifyleft,justifycenter,justifyright,removeformat,image,media,code",
      theme_advanced_buttons2: "",
      theme_advanced_buttons3: "",
      theme_advanced_toolbar_location: "top",
      theme_advanced_toolbar_align: "left",
      invalid_elements : "iframe,script",

      setup: function(ed){
	  	// Add a custom button for image
				ed.addButton('image', {
					title: '插入图片',
					onclick: function(){
						var newWindowStatus = "width=700,height=700,top=200,left=" + ($(window).width() - 500) / 2 + ",toolbar=1,status=1,scrollbars=1";
						var newWindowUrl = location.href.indexOf("nbd.com.cn") == -1 ? "http://www.nbd.cn/console/images/upload_images" : "http://www.nbd.com.cn/console/images/upload_images";
						window.open(newWindowUrl, "imagesSelect", newWindowStatus);
					}
				});

        ed.onExecCommand.add(function(ed, cmd, ui, val) {
          if(cmd === "RemoveFormat"){
            var content = ed.getContent();
            content = content.replace(/\<p\>(\&nbsp\;\s*)+/g, "<p>");
            ed.setContent(content);
          }
        });

			}
    }
	// for init
	var extendTinymceConfigs = $.extend({
      oninit : function(){
        $editPageContent.find("div[id^='tabs']").hide().filter(':first').show();
      }
	},tinymceConfigs);

    $editPageContent.nbdtabs({
      limitNum:20,
			
      addDOM:"#addTab",
      removeDOM:"#removePage",
      tabsDOM:"#editPageContent .tabs ul",
      contentDOM:"#inputArea",
      templateContent:"<textarea id='article_pages_attributes_$(id_textarea)_content' name='article[pages_attributes][$(id_textarea)][content]' cols='40' rows='20'></textarea><input class='hidden' id='article_pages_attributes_$(id_textarea)_p_index' name='article[pages_attributes][$(id_textarea)][p_index]' type='hidden' value='$(id)' /><input class='page_destroy' type='hidden' name='article[pages_attributes][$(id_textarea)][_destroy]' value='false'></input> ",
			
      readyEvent:function(tabLength){
        textareaID = tabLength;
      },
      beforeAddEvent:function(templateContent){
        textareaID++;
        return templateContent.replace(/\$\(id_textarea\)/g, textareaID);
      },
      afterAddEvent:function(newContent){
        newContent.find('textarea').tinymce(tinymceConfigs);
      },
      removeContentEvent:function(closeContent){
        if(isNewArticle){
          closeContent.remove();
        }else {
          closeContent.find("input.page_destroy").attr("value", "1");
          closeContent.addClass("remove");
          closeContent.attr("id", "");
          closeContent.hide();
        }

      },
      refreshContentEvent:function(content,index){
        content.children("input[id$='p_index']").val(index + 1);
      }
    });
		
    $editPageContent.find("div[id^='tabs']").show(); //for tinymce
    $editPageContent.find('textarea').tinymce(extendTinymceConfigs);
		
    //_nbdToolset.restCharNum('article_title',20,'articalTitleRestNum');
    _nbd.restCharNum('article_list_title',18,'listTitleRestNum');
		
    $(".chzn-select").chosen();
		
    $("#article_form").submit(function(){
      var disableSubmit = false;
			
      if(!$("#article_column_ids").val()){
        alert("请选择一个栏目");
        return false;
      }
			
      // 摘要的生成确认
      if($("#article_digest").val() === "" && !confirm("你未填写核心提示，系统会自动生成一段，是否继续？")){
        return false;
      }
			
      // 关键字提示
      if($("#article_tags").val() === "" && !confirm("此文章没有关键字，是否继续？")){
        return false;
      }
			
      // 头条必须要有图片
      if($("#newThumb").is(":visible")){
        $.each($("#article_column_ids").val(),function(i,v){
          var stopReiterate = false;
          $.each(requireImageCol,function(ri,rv){
            if(v == rv){
              if(!confirm("此文章对应的有头条或者精选栏目，但是没有图片，是否继续？")) disableSubmit = true;
              stopReiterate = true;
              return false;
            }	
          })
          if(stopReiterate) return false;
        });
      }
      if(disableSubmit) return false;

      // 敏感词判断
      if(findBadWords()){
        if(!confirm("检测到敏感词\n" + badWordsTip + "是否继续?")) {
          return false;
        }
      }
			
      //成功提交 弹出loading
      _initLoadingWindow("正在提交");

    });

		// 缩略图更改、删除
		if(!hasThumb){
			thumbNewStat();
		}
		$("#thumbFileInput").change(function(){
			var tempArray = $(this).val().split("\\");
			var fileName = tempArray[tempArray.length-1];
			$("#article_image_attributes_action").val(1);
			$("#imageThumb").html(fileName);
			thumbEditStat();
		});
		$("#removeThumbBtn").click(function(){
			if(!confirm("是否要删除缩略图？")){
				return false;
			}
			$("#thumbFileInput").val("");
			$("#article_image_attributes_action").val(2);
			thumbNewStat();
		});
		function thumbNewStat(){
			$("#newThumb").show();
			$("#newThumbCenter").append($("#thumbFileInput"));
		}
		function thumbEditStat(){
			$("#newThumb").hide();
			$("#thumbFileInput").appendTo("#thumbUpload");
		}

    /* Events
    *********************************/
    
    // 查询敏感词，并更改敏感词提示(badWordsTip)
    function findBadWords(){
      var isfind = false;
      if(!badWordsRexp) {
        return false;
      }else {
        badWordsTip = "";
      }

      $("#inputArea iframe").each(function(index){
        var body = $($(this)[0].contentDocument.body);
        var htmlcode = body.html();
        var matched = htmlcode.match(badWordsRexp);
        if(matched && matched.length !== 0){
          isfind = true;
          body.html(htmlcode.replace(badWordsRexp, function(word){
            return "<span style='background:yellow'>" + word + "</span>";
          }));
          badWordsTip += "第" + (index + 1) + "页:" + _nbd.arrayUniq(matched).join(",") + "\n";
        }
      });

      return isfind;
    }
		
  });
	
  $(document).ready(function(){
    var form = $('#article_form');
		
    $('#publish_article').click(function(){
      $("#article_status").val(1);
      form.submit();
    });
		
    $("#draft_aricle").click(function(){
      $("#article_status").val(0);
      form.submit();
    });

    $("#baned_aricle").click(function(){
      if(confirm("确认屏蔽该文章?")){
        $("#article_status").val(2);
        form.submit();
      }
    });
  });
	
</script>
