<div class="sectionA">
  <div class="title">
    <h1>文章管理 - 文章排行</h1>
  </div>
  <div class="content rightColCenter" id="body_state">
    <div class="datePicker">
      <ul>
        <li <%= stats_class_helper("today") %>>
          <%= link_to "今天", top_stats_console_articles_url(:filter => "today", :page => params[:page]) %>
        </li>
        <li <%= stats_class_helper("yesterday") %>>
          <%= link_to "昨天", top_stats_console_articles_url(:filter => "yesterday", :page => params[:page]) %>
        </li>
        <li <%= stats_class_helper("this_week") %>>
          <%= link_to "本周", top_stats_console_articles_url(:filter => "this_week", :page => params[:page]) %>
        </li>
        <li <%= stats_class_helper("last_week") %>>
          <%= link_to "上周", top_stats_console_articles_url(:filter => "last_week", :page => params[:page]) %>
        </li>
        <li <%= stats_class_helper("this_month") %>>
          <%= link_to "本月 (#{Time.now.strftime('%Y-%m')})", top_stats_console_articles_url(:filter => "this_month", :page => params[:page]) %>
        </li>
        <li <%= stats_class_helper("pre_month") %>>
          <%= link_to "上月 (#{(Time.now.beginning_of_month - 1.months).strftime('%Y-%m')})", top_stats_console_articles_url(:filter => "pre_month", :page => params[:page]) %>
        </li>
        <li <%= stats_class_helper("last_month") %>>
          <%= link_to "前月 (#{(Time.now.beginning_of_month - 2.months).strftime('%Y-%m')})", top_stats_console_articles_url(:filter => "last_month", :page => params[:page]) %>
        </li>
      </ul>
    </div>
    <table class="tableA">
      <thead>
        <tr>
          <th>文章标题</th>
          <th>点击数</th>
          <th>责任编辑</th>
        </tr>
      </thead>
      <tbody>
        <% @record.each do |a| %>
          <tr>
            <td>
              <%= link_to truncate(a.title,:length => 20), article_url(a) %>
            </td>
            <td>
              <%= a.click_count %>
            </td>
            <td><%= a.staffs.map(&:real_name).join(",") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div style="margin-top:20px;">
      <%= paginate @record %>
    </div>
  </div>
</div>
