<% 
	list_title = "滚动新闻"
	page = params[:page]
	page ||= 1
%>

<style type="text/css">
	.wrapper { padding-top: 15px; }
</style>


<% content_for :header_ad do %>
	<script type="text/javascript">
		BAIDU_CLB_preloadSlots("349118", "349119", "349120");
	</script>
	<!-- 广告位：全站_顶部四分之三通栏 -->
	<%= render :partial => "ads/ad", :locals => { :id => "349118", :html_class => "header" } %>
<% end %>

<div class="layout">
	<div class="rCol rCol-home">
	  <% if @featured_articles[:id].present? %>
			<% cache(column_collected_articles_key_by_id(@featured_articles[:id])) do %>
	    <%= render :partial => "columns/media_wall", :layout => "columns/story", :locals => { :story_css => "story-borderBlue story-nop", :header_data => {:list_title => "频道推荐"}, :articles => articles_of(@featured_articles), :column_id => column_id_of(@featured_articles) } %>
	    <% end %>
		<% end %>

    <%= render :partial => "columns/hot_articles_v3", :layout => "columns/story", :locals => { :story_css => "story-borderOrange", :header_data => {:list_title => "热门文章"} } %>

		<% cache(column_show_content_key_by_id(@focus_articles[:id], true, "uniq")) do %>
			<%= render :partial => "columns/article_list_v3", :layout => "columns/story", :locals => {:header_data => {:list_title => "媒体聚焦"}, :articles => articles_of(@focus_articles), :column_id => column_id_of(@focus_articles), :digest_number => 1} %>
		<% end %>

    <%= render :partial => "columns/nbd_products" %>

		<!-- 广告位：全站_右边栏一 -->
		<%= render :partial => "ads/ad", :locals => { :id => "349119", :html_class => "right_box" } %>
	</div>
	<div class="main">
	  <% cache(column_show_content_key_by_id(Column::ROLLING_COLUMN_ID, page)) do %>
		<%= render :partial => "columns/article_list_v3", :layout => "columns/story", :locals => {:header_data => {:list_title => list_title}, :articles => @rolling_articles, :display_datetime => true, :digest_number => "max" } %>
		<%= paginate @rolling_articles %>
	  <% end %>
	</div>
</div>

<!-- 广告位：全站_底部通栏 -->
<%= render :partial => "ads/ad", :locals => { :id => "349120", :html_class => "footer" } %>
