<% @title = @article.title %>
<%#= require_css "article" %>
<%= stylesheet_link_tag "article.css" %>

<% content_for :header_ad do %>
  <script type="text/javascript">
    BAIDU_CLB_preloadSlots("347473","347491","347495","347499","347516");
  </script>
  <!-- 广告位：文章详情页_顶部四分之三通栏 -->
  <%= render :partial => "ads/ad", :locals => { :id => "347473", :html_class => "header" } %>
<% end %>

<!-- crumb -->
<% cache(article_crumbs_nav_key_by_id(@article.id), :expire_in => Article::EXPIRE_IN) do %>
<%= render :partial => "articles/crumb_v3", :locals => {:first_column => @first_column} %>
<% end %>

<div class="layout">
  <div class="rCol rCol-home">
    <%= render :partial => "ads/ad", :locals => { :id => "347491", :html_class => "right_box" } %>

    <!-- 频道推荐 -->
    <%= ssi_include_file(:fragment_page ,:right_top_1, {:column_id => Column::FEATURE_COLUMN_HASH[@article.first_column.parent_id]}) %>

    <!-- 热门文章 -->
    <%= ssi_include_file(:fragment_page ,:right_top_2, {:column_id => @article.first_column.parent_id}) %>

    <!-- 频道图片精选 -->
    <%= ssi_include_file(:fragment_page ,:right_top_3, {:column_id => Column::COLUMN_PICTURE[@article.first_column.parent_id]}) %>

    <%= render :partial => "ads/ad", :locals => { :id => "347495", :html_class => "right_box" } %>

    <%= render :partial => "columns/nbd_products" %>
  </div>

  <div class="main main-b">
    <div class="story_shadow">
      <div class="story story-articleWrapper">
        <%= render :partial => "article_content_v3", :locals => { :related_articles => true } %>

        <!-- 广告位：文章详情页_投资宝 -->
        <div class="a_adWrapper">
          <script type="text/javascript">BAIDU_CLB_fillSlot("557753");</script>
        </div>
        
        <%= ssi_include_file(:fragment_page, :bottom_1) %>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "btm_nav" %>

<!-- 广告位：文章详情页_底部通栏 -->
<%= render :partial => "ads/ad", :locals => { :id => "347499", :html_class => "footer" } %>

<!-- 广告位：文章详情页_右下角漂浮 -->
<%= render :partial => "ads/ad", :locals => { :id => "347516" } %>

<script type="text/javascript">
  $(document).ready(function(){
    $.get('<%= add_click_count_article_path(@article) %>');
  });
</script>
<% if @page.p_index == 1 %>
<% end %>