<div class="sectionA">
  <div class="title">
    <h2>
      卡号管理 - 生成新卡号
    </h2>
  </div>
  <div id="body_state" class="content rightColCenter">
    <%= form_tag console_premium_service_cards_url, :class => "formA" do %>
      <p>
        <%= label_tag "type", "时长：" %>
        <%= select_tag "type", options_for_select({"一年" => "3", "六个月" => "2", "三个月" => "1", "一个月" => "0"}) %>
      </p>
      <p>
        <%= label_tag "count", "个数：" %>
        <%= text_field_tag "count" %>
      </p>
      <p class="formRightAlign">
        <a href="javascript:void(0)" onclick="$(this).closest('form').submit();return false;" class="btnBlueM"><span>生成新卡号</span></a>
        <%= submit_tag "提交", :class => "hiddenSubmit" %>
      </p>
    <% end %>
  </div>
</div>
