<div class="sectionA">
  <div class="title">
    <h2>
      卡号管理
    </h2>
    <span class="opts"><%= link_to "<span>导入新卡号</span>".html_safe, upload_file_console_premium_service_cards_url, :class => "btnBlueM" %></span>
    
  </div>
  <div id="body_state" class="content rightColCenter">
    <div class="tabs">
  <div style="" class="opts">
      
  <%= form_tag search_console_premium_service_cards_url, :method => :get, :class => "searchBoxSmall" do %>
    <a href="javascript:void(0)" onclick="$(this).closest('form').submit();return false;" class="searchBtn"></a>
    <%= text_field_tag "cards_no", params[:cards_no], :class => "searchInput", :placeholder => "搜索卡号" %>
    <%= submit_tag "", :class => "hiddenSubmit" %>
  <% end %>
    </div>
    </div>
    <table class="tableA">
      <thead>
        <tr>
          <th>卡号</th>
          <th>套餐时长</th>
          <th>创建时间</th>
          <th>状态</th>
          <th>使用时间</th>
          <th>创建者</th>
          <th>使用用户</th>
        </tr>
      </thead>
      <tbody>
        <% @service_cards.each do |card| %>
          <tr>
            <td><%= format_service_card card.card_no %></td>
            <td><%= card.time_length_str %></td>
            <td><%= card.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= card.status_str %></td>
            <td><%= card.activated_at && card.activated_at.strftime("%Y-%m-%d") %></td>
            <td><%= card.staff && card.staff.real_name %></td>
            <td><%= card.payment && card.payment.user && "#{card.payment.user.nickname}(#{card.payment.user.mn_account && card.payment.user.mn_account.phone_no})" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div style="margin-top:20px;">
      <%= paginate @service_cards %>
    </div>
  </div>
</div>
