<%= require_css "reset.css" %>
<%= require_css "style_global.css" %>
<%= require_css "style_console.css" %>
<div id="body_signin">
	<div id="top">
		<div class="innerCenter">
			<ul class="lf">
				<li class="first last"><a href="/">&laquo; 返回每经网</a></li>
			</ul>
			<ul class="rf">
				<li><%= link_to "返回控制台 &raquo;".html_safe, published_console_articles_url, :class => "first last" %></li>
			</ul>
		</div>
	</div>
	<div id="header">
		<div class="innerCenter">
			<div id="logo">
				<%= link_to image_tag("/images/console-logo.gif", :alt => "每经网"), published_console_articles_url %>
			</div>
		</div>
	</div>
	
		
	<%= form_for(@current_staff, :url => change_password_console_staff_url, :html => {:id => "current_staff_form", :class => "formB roundCorner"}) do|f| %>
	  <div class="title"><h1>修改密码</h1></div>
	  <p>
	    <%= f.label :old_password, '旧密码: ' %>
	    <br/>
	    <%= f.password_field :old_password, :class => "textInput #{@current_staff.errors[:old_password].present? ? 'error' : ''}" %>
	    <%if @current_staff.errors[:old_password].present? %><span class="tip error"><%= @current_staff.errors[:old_password].last %></span><%end%>
	  </p>
	  <p>
	    <%= f.label :password, '新密码：' %>
	    <br/>
	    <%= f.password_field :password, :class => "textInput #{@current_staff.errors[:password].present? ? 'error' : ''}" %>
	    <%if @current_staff.errors[:password].present? %><span class="tip error"><%= @current_staff.errors[:password].last %></span><%end%>
	  </p>
	  <p>
	    <%= f.label :password_confirmation, '密码确认:' %>
	    <br/>
	    <%= f.password_field :password_confirmation, :class => "textInput #{@current_staff.errors[:password].present? ? 'error' : ''}" %>
	    <%if @current_staff.errors[:password].present? %><span class="tip error"><%= @current_staff.errors[:password].last %></span><%end%>
	  </p>
	  <p>
	    <input type="submit" class="hiddenSubmit"/>
		<%= link_to "<span>保存</span>".html_safe, "javascript:void(0)", :onclick=>"$(this).parents('form').submit();return false;", :class=>"btnBlueM" %>
	  </p>
	<%end %>

</div>

