<%= require_popWin %>
<%= require_autoComplete %>
<%= require_js "weibo_mana" %>
<%= require_js "speak_mana" %>
<%= require_css "weibo_userprofile.css" %>

<div class="leftCol">
	<div class="userProfile bigProfile">
		<%= link_to image_tag(user_avatar_path(@interviewee, :large), :name => "userhead"), profile_user_path(@interviewee), :class => "avatar" %>
		<div class="userInfo">
			<h3><%= @interviewee.nickname %></h3>
			<!--p class="baseInfo"><span>四川</span> <span>成都</span></p-->
			<p class="introduction"><%if @interviewee.desc.present? %><%= @interviewee.desc %><%else%>唉，还没有添加任何信息啊<%end%></p>
			<%unless @is_same_user %>
				<%if @current_user && @current_user.is_followers_of?(@interviewee) %>
					<%= link_to "<span>已关注</span>".html_safe, unfollow_user_path(@interviewee), :method => :post, :confirm => "你确定要取消关注吗？", :class => "btnGrayBlue", :id => "switchStatBtn" %>
				<%else%>
					<%= link_to "<span>+加关注</span>".html_safe, follow_user_path(@interviewee), :method => :post, :class => "btnGreen followManaBtn" %>
				<%end%>
			<%end%>
		</div>
		<div class="clear"></div>
	</div>
	
	<%= render :partial => "weibos/form_for_quick_weibo", :locals => {:title => "有什么想对他说的？", :interviewee => @interviewee} %>
	
	<div class="tabs">
		<ul>
			<li class="current"><%= link_to "所有微博", profile_user_path(@interviewee) %></li>
			<%if false%>
				<li>
					<%if @is_same_user %>
						<%= link_to "我的资料", "#" %>
					<%else%>
						<%= link_to "他的资料", "#" %>
					<%end%>
				</li>
			<%end%>
		</ul>
	</div> 
	
	<ul class="weiboItemList withTabs">
		<%@weibos.each_with_index do|weibo, index|%>
			<%= render :partial => "weibos/weibo_item", :locals => {:weibos => @weibos, :weibo => weibo, :index => index, :interviewee => @interviewee,:is_same_user => @is_same_user} %>
		<%end%>
	</ul>
	<%= paginate @weibos %>
	<div class="clear"></div>
</div>

<div class="rightCol">
	<%= render :partial => "users/user_stats_details", :locals => {:interviewee => @interviewee} %>
	<%= render :partial => "users/hot_topics", :locals => {:hot_topics => []} %>
	<div class="sectionB">
		<div class="title">
			<h4>该用户的粉丝</h4>	
            <span class="rf">
              <%= link_to "更多 &raquo;".html_safe, followings_user_path(@interviewee) %>
            </span>
		</div>
		<div class="content">
			<%= render :partial => "users/users_wall", :locals => {:users => @interviewee.followers.includes(:image).limit(User::USER_FANS_SHOW_COUNT) } %>
			<div class="clear"></div>
		</div>
	</div>
	<%= render :partial => "weibos/feedback", :locals => {:html_class => "sectionB"} %>
</div>

<div class="clear"></div>

<script type="text/javascript">
	$(function(){
		var form = $('#create_weibo_form');
		var $optTextarea = $("#newWeiboTextarea");
		
		$("#switchStatBtn").hover(function(){
			$(this).toggleClass("btnGrayBlue");
			$(this).toggleClass("btnRed");
			$("span",this).text("取消关注");
		},function(){
			$(this).toggleClass("btnGrayBlue");
			$(this).toggleClass("btnRed");
			$("span",this).text("已关注");
		});
		
		
	});
</script>

