<%@title="账号设置 - 修改密码"%>
<%= require_css "account_settings.css" %>
<div class="leftCol">
<div id="pageName"><h1><%= link_to '账号信息', premium_mobile_newspaper_account_url %> / 修改密码</h1></div>
	<%if params[:notice] %>
		<div class="alert_done"><b></b><%= params[:notice] %></div>
	<%end %>
	
	<%= form_for(@user, :url => premium_change_password_url, :html => {:id => "user_form", :class => "formA roundCorner"}) do|f| %>
	<p>
		<%= f.label :old_password, '旧密码: ' %>
		<br/>
		<%= f.password_field :old_password, :class => "textInput #{@user.errors[:old_password].present? ? 'error' : ''}" %>
		<%if @user.errors[:old_password].present? %><span class="tip error"><%= @user.errors[:old_password].last %></span><%end%>
	</p>
	<p>
		<%= f.label :password, '新密码：' %>
		<br/>
		<%= f.password_field :password, :class => "textInput #{@user.errors[:password].present? ? 'error' : ''}" %>
		<%if @user.errors[:password].present? %><span class="tip error"><%= @user.errors[:password].last %></span><%end%>
	</p>
	<p>
		<%= f.label :password_confirmation, '密码确认:' %>
		<br/>
		<%= f.password_field :password_confirmation, :class => "textInput #{@user.errors[:password].present? ? 'error' : ''}" %>
		<%if @user.errors[:password].present? %><span class="tip error"><%= @user.errors[:password].last %></span><%end%>
	</p>
	<p>
		<input type="submit" class="hiddenSubmit" />
		<a href="javascript:void(0)" class="btnBlueM" onclick="$(this).parents('form').submit();return false;"><span>保存</span></a>
	</p>
	<%end %>
</div>
<div class="rightCol">
</div>
<div class="clear">
</div>
