<% @title="公司频道" %>
<%= require_css "channel.css" %>
<%= require_slideShow %>

<% content_for :header_ad do %>
	<script type="text/javascript">
		BAIDU_CLB_preloadSlots("347545","347546","349119","349120");
	</script>
	<!-- 广告位：公司_顶部四分之三通栏 -->
	<%= render :partial => "ads/ad", :locals => { :id => "347545", :html_class => "header" } %>
<% end %>
<% cache(column_sub_nav_key_by_id(params[:id])) do%>
<%= render :partial => "columns/sub_navigation", :locals => {:column_id => 33 } %>
<% end %>
<div class="leftCol">
<% cache(column_show_content_key_by_id(@head_article[:id])) do %>
	<%= render :partial => "columns/scroll_head_article", :locals => { :articles => @head_article[:articles].map(&:article).compact, :column_id => 34 } %>
<% end %>
	<div class="subLeftCol">
		<% cache(column_show_content_key_by_id(@hot[:id])) do %>
			<%= render :partial => "columns/article_list", :locals => {:list_title => "热公司", :articles => @hot[:articles].map(&:article).compact, :column_id => 35, :digest_number => 3, :display_children => false, :digest_restrict => true} %>
		<% end %>
	</div>
	<div class="subRightCol">
		<% cache(column_show_content_key_by_id(@sicence[:id])) do %>
				<%= render :partial => "columns/article_list", :locals => {:list_title => "科技", :articles => @sicence[:articles].map(&:article).compact, :column_id => 39, :digest_number => 3, :display_children => false, :digest_restrict => true} %>
		<% end %>
	</div>
	<div class="clear"></div>
	
	<!-- 广告位：公司_左通栏一 -->
	<%= render :partial => "ads/ad", :locals => { :id => "347546", :html_class => "left_bar" } %>
	
	<div class="subLeftCol">
		<% cache(column_show_content_key_by_id(@property[:id])) do %>
			<%= render :partial => "columns/article_list", :locals => {:list_title => "房产", :articles => @property[:articles].map(&:article).compact, :column_id => 38, :digest_number => 3, :display_children => false, :digest_restrict => true} %>
		<% end %>
		<% cache(column_show_content_key_by_id(@auto[:id])) do %>
			<%= render :partial => "columns/article_list", :locals => {:list_title => "汽车", :articles => @auto[:articles].map(&:article).compact, :column_id => 40, :digest_number => 3, :display_children => false, :digest_restrict => true} %>
		<% end %>
		
	</div>
	<div class="subRightCol">
		<% cache(column_show_content_key_by_id(@consumable[:id])) do %>
			<%= render :partial => "columns/article_list", :locals => {:list_title => "消费品", :articles => @consumable[:articles].map(&:article).compact, :column_id => 45, :digest_number => 3, :display_children => false, :digest_restrict => true} %>
		<% end %>
		<% cache(column_show_content_key_by_id(@industry[:id])) do %>
			<%= render :partial => "columns/article_list", :locals => {:list_title => "商讯", :articles => @industry[:articles].map(&:article).compact, :column_id => 42, :digest_number => 3, :display_children => false, :digest_restrict => true} %>
		<% end %>

	</div>
	<div class="clear"></div>
</div>
<div class="rightCol">
  	<% cache(column_show_content_key_by_id(@featured[:id], true, "uniq")) do %>
	<%= render :partial => "columns/article_feature", :locals => {:list_title => "商业精选", :articles => @featured[:articles].map(&:article).compact, :column_id => 36, :digest_number => 4, :html_class => "articleWallWrapper", :html_style => "margin-bottom:15px;" } %>
  	<% end %>
  	  	
	
	<% cache(column_show_content_key_by_id(@ipo_articles[:id], true, "uniq")) do %>
	<%= render :partial => "columns/article_list", :locals => {:list_title => "IPO调查", :articles => @ipo_articles[:articles].map(&:article).compact, :column_id => 31, :digest_number => 1, :digest_restrict => true, :display_children => true, :display_special => true, :display_children_digest_restrict => "restrict2", :html_class => "IPOResearch"} %>
	<%end %>
  	
  	<% cache(column_show_content_key_by_id(@company_inv_articles[:id], true, "uniq")) do %>
  	<%= render :partial => "columns/article_feature", :locals => {:list_title => "上市公司调查", :articles => @company_inv_articles[:articles].map(&:article).compact, :column_id => 32, :digest_number => 1, :html_class => "articleWallWrapper", :html_style => "margin-bottom:10px;" } %>
  	<%end %>
  	
  	<% cache(column_show_content_key_by_id(@macro[:id], true, "uniq")) do %>
  		<%= render :partial => "columns/article_list", :locals => {:list_title => "宏观要闻", :articles => @macro[:articles].map(&:article).compact, :column_id => 44, :digest_number => 1, :display_children => false, :digest_restrict => true} %>
  	<% end %>
  
	<!-- 广告位：全站_右边栏一 -->
	<%= render :partial => "ads/ad", :locals => { :id => "349119", :html_class => "right_box" } %>
  
	
        <%= render :partial => "columns/hot_articles" %>
	<%= render :partial => "columns/nbd_promo", :locals => {:hide_newspappers => true, :title => "移动客户端"} %>
	
</div>
<div class="clear"></div>

<!-- 广告位：全站_底部通栏 -->
<%= render :partial => "ads/ad", :locals => { :id => "349120", :html_class => "footer" } %>
