<div class="sectionA">
  <div class="title">
    <h1>图片库-编辑图片</h1>
    <span class="opts">
      <%= link_to '<span>取消</span>'.html_safe, console_images_path, :class => "btnGray" %>
    </span>
  </div>
  <div class="content rightColCenter">
    <%= simple_form_for [:console, @image], :html => {:class => "formA"} do |image|%>
			<p>
				<label>缩略图:</label>
     	 <%= image_tag(@image.url_for_search(:x_large, "www"), :alt => @image.desc )%>
			</p>
			<p>
				<%= image.input :desc, :label => "描述: "%>
			</p>
			<p class="formRightAlign" style="margin:10px 0;">
				<%= link_to '<span>确定</span>'.html_safe, 'javascript:void(0)', :class => "btnBlueM", :id => "confirmUpdate" %>	
			</p>
    <% end %>
  </div>
</div>

<script type="text/javascript">
	$(function(){
		$("#confirmUpdate").click(function(){
			$("form").submit();
		});
	});
</script>
