<table class="tableA">
	<thead>
		<tr>
			<th>敏感词</th>
			<th>创建人</th>
			<th>创建时间</th>
			<th>操作</th>
		</tr>		
	</thead>
	<tbody id="sortableBox">
		<% keywords.each do |k| %>
			<% next unless k.present? %>
			<tr id="keyword_<%= k.id %>">
				<td class="itemTitle"><%= k.value %></td>
				<td><%= k.staff.real_name %></td>
				<td class="itemDate"><%= k.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
				<td class="itemActions">
					<%= link_to "<b></b>编辑".html_safe, edit_console_badkeyword_url(k), :class=>'actionEdit' %>
					<%= link_to "<b></b>删除 ".html_safe, console_badkeyword_url(k), :confirm => "删除这个敏感词？", :method => :delete, :remote => true, :class=>'actionDelete' %>
				</td>
			</tr>
		<%end%>
	</tbody>
</table>
