<div class="title">
	<h1>页面元素编辑 - html</h1>
</div>

<%= simple_form_for([:console, @owner, @element], :html => {:id => "element_form", :class => ""}) do |f| %>
	<p>
		<%= f.input :title , :label => "标题:" %>
	</p>
	<p>
		<% unless @element.new_record? %>
			<%= f.input :content , :as => :text, :label => "内容:", :input_html => {:value => @body} %>
		<%else%>
			<%= f.input :content , :as => :text, :label => "内容:" %>
		<%end%>
	</p>
	<%= render "console/elements/element_editpage_actions" %>
<%end%>

<script type="text/javascript">
	$("#createNewElement").click(function(){
		var text = $("#element_<%= @k_name %>_content").val();
		var body = {'body' : text};
		$("#element_<%= @k_name %>_content").val(JSON.stringify(body));
		$('form').submit();
	});
</script>
