<%
require_js "console_selectAll"
=begin
Parameters:
articles : Array article objects
display_top: true | false (optional, default is true)
=end
display_top = true if (not defined?(display_top)) or display_top.nil?
special_column = 'normal' if (not defined?(special_column)) or special_column.nil?
logger.debug "----------special_column: #{special_column}"
%>
<%= require_popWin %>
<div class="sortableTableMargin">
  <table id="articleTable" class="tableA">
    <thead>
      <tr>
        <th class="forHandler"></th>
        <% unless @console == 'statistics' %>
        <th><input class="selectAll" type="checkbox" /></th>
        <% end %>
        <th>标题</th>
        <th>栏目</th>
        <th>编辑</th>
        <th>点击/评论</th>
        <th>时间</th>
        <th>状态</th>
        <% unless @console == 'statistics' %>
        <th>操作</th>
        <% end %>
      </tr>		
    </thead>
    <tbody id="sortableBox">
      <% articles.each do |a| %>
        <% next unless a.present? %>
        <tr id="article_<%= a.id %>">
          <td class="forHandler"><span class="dragHandler"></span></td>
          <% unless @console == 'statistics' %>
          <td class="forSelect"><input class="subSelect" type="checkbox" value="<%= a.id %>"/></td>
          <% end %>
          <td class="itemTitle">
            <% if special_column == 'ntt' %>
              <%= link_to a.title, ntt_article_url(a), {:target => "_blank"} %>
            <% elsif special_column == 'west' %>
              <%= link_to a.title, west_article_url(a), {:target => "_blank"} %>
            <% else %>
              <%= link_to a.title, article_url(a), {:target => "_blank"} %>
            <% end %>
          </td>
          <td class="itemColumns">
            <% a.columns.each do |c| %>
               <%= link_to "#{c.parent.try(:name)}-#{c.name}", console_column_path(c) %>
            <% end %>
          </td>
          <td><%= a.staffs.map(&:real_name).join(",") %></td>
          <td><%= "#{a.click_count} / #{(w=a.weibo) ? w.reply_count : 0}" %></td>
          <td class="itemDate"><%= a.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td class="itemStatus_<%=a.status%>"><%= Article::STATUS[a.status.to_i] %></td>
          <% unless @console == 'statistics' %>
          <td class="itemActions">
            <%= link_to("<b></b>编辑".html_safe, edit_console_article_url(a, :column_id => @current_column.present? ? @current_column.id : nil), :class=>'actionEdit') %>
            <%= link_to("<b></b>删除 ".html_safe, console_article_url(a), :confirm => "删除文章？", :method => :delete, :class=>'actionDelete') %>
            <br/>
            <%= link_to("<b></b>管理配稿".html_safe, console_article_manage_children_article_url(a), :class=>'actionChilden') %>

            <%if display_top%>
              <%= link_to("<b></b>置顶".html_safe, "javascript:void(0);", :class=>'actionUp') %>
            <%end%>

            <% if a.published? %>
              <%= link_to("<b></b>屏蔽".html_safe, "javascript:void(0);", :class=>'actionBanned') %>
            <% else %>
              <%= link_to("<b></b>发布".html_safe, "javascript:void(0);", :class=>'actionPublish') %>
            <% end %>

            <%if true%>
              <%= link_to("<b></b>操作记录".html_safe, article_logs_console_article_url(a), :class=>'actionRecord')%>
            <%end%>
          </td>
          <% end %>
        </tr>
      <%end%>
    </tbody>
  </table>
</div><!-- table wrapper -->
