<% content_for :header_ad do %>
  <script type="text/javascript">
    BAIDU_CLB_preloadSlots("347589","347595","347597");
  </script>
  <!-- 广告位：智库_顶部四分之三通栏 -->
  <%= render :partial => "ads/ad", :locals => { :id => "347589", :html_class => "header" } %>
<% end %>

<% content_for :footer_ad do %>
  <!-- 广告位：智库_底部通栏 -->
  <%= render :partial => "ads/ad", :locals => { :id => "347597", :html_class => "footer" } %>
<% end %>

<div class="leftCol nttIndex">
  <% cache(column_show_content_key_by_id(@head_article[:id])) do %>
    <%= render :partial => "ntt/columns/head_article", :locals => { :article => @head_article[:articles].map(&:article)[0], :column_id => 57 } %>
  <% end %>
  <% cache(columnist_articles_key_by_id("index_table"), :expire_in => Columnist::EXPIRE_IN) do %>
    <%= render :partial => "ntt/columnists/columnist_table", :locals => { :title => "最近更新", :columnists => @columnists.select{|c| c.last_article and c.last_article.is_published? and c.last_article.columns and !c.last_article.columns.map(&:id).include?(102)}[0..3] } %>
  <% end %>
  <div class="sectionA">
    <div class="title">
      <h3>专家访谈</h3>
      <span class="opts">
        <%= link_to "更多", ntt_column_url(@interview_articles[:id])%>
      </span>
    </div>
    <div class="content">
      <% cache(column_show_content_key_by_id(@interview_articles[:id])) do %>
        <div class="subLeftCol">
          <%= render :partial => "columns/article_list", :locals => { :digest_number => 1, :digest_restrict => true, :articles => [(@interview_articles[:articles].map(&:article)[0]||[])], :for_subdomain => Settings.ntt_sub_domain, :column_id => @interview_articles[:id]}%>
        </div>
        <div class="subRightCol">
          <%= render :partial => "columns/article_list", :locals => { :digest_number => 1, :digest_restrict => true, :articles => [(@interview_articles[:articles].map(&:article)[1]||[])], :for_subdomain => Settings.ntt_sub_domain, :column_id => @interview_articles[:id]}%>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  </div><!-- sectionA -->
  <div class="subLeftCol">
    <% cache(column_show_content_key_by_id(@trend_articles[:id])) do %>
      <%= render :partial => "columns/article_list", :locals => {:list_title => "经济大势", :digest_number => 1, :digest_restrict => true, :articles => (@trend_articles[:articles].map(&:article)||[]), :for_subdomain => Settings.ntt_sub_domain, :column_id => @trend_articles[:id]}%>
    <% end %>
  </div>
  <div class="subRightCol">
    <% cache(column_show_content_key_by_id(@region_articles[:id])) do %>
      <%= render :partial => "columns/article_list", :locals => {:list_title => "区域经济", :digest_number => 1, :digest_restrict => true, :articles => (@region_articles[:articles].map(&:article)||[]), :for_subdomain => Settings.ntt_sub_domain, :column_id => @region_articles[:id]}%>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="divider" style="margin-bottom:5px;"></div>

  <div class="subLeftCol">
    <% cache(column_show_content_key_by_id(@comment_articles[:id])) do %>
      <%= render :partial => "columns/article_list", :locals => {:list_title => "商业评论", :digest_number => 1, :digest_restrict => true, :articles => (@comment_articles[:articles].map(&:article)||[]), :for_subdomain => Settings.ntt_sub_domain, :column_id => @comment_articles[:id]}%>
    <% end %>
  </div>
  <div class="subRightCol">
    <% cache(column_show_content_key_by_id(@investment_articles[:id])) do %>
      <%= render :partial => "columns/article_list", :locals => {:list_title => "投资策略", :digest_number => 1, :digest_restrict => true, :articles => (@investment_articles[:articles].map(&:article)||[]), :for_subdomain => Settings.ntt_sub_domain, :column_id => @investment_articles[:id]}%>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="divider" style="margin-bottom:5px;"></div>

  <div class="subLeftCol">
    <% cache(column_show_content_key_by_id(@management_articles[:id])) do %>
      <%= render :partial => "columns/article_list", :locals => {:list_title => "公共治理", :digest_number => 1, :digest_restrict => true, :articles => (@management_articles[:articles].map(&:article)||[]), :for_subdomain => Settings.ntt_sub_domain, :column_id => @management_articles[:id]}%>
    <% end %>
  </div>
  <div class="subRightCol">
    <% cache(column_show_content_key_by_id(@global_articles[:id])) do %>
      <%= render :partial => "columns/article_list", :locals => {:list_title => "全球经济", :digest_number => 1, :digest_restrict => true, :articles => (@global_articles[:articles].map(&:article)||[]), :for_subdomain => Settings.ntt_sub_domain, :column_id => @global_articles[:id]}%>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="divider" style="margin-bottom:5px;"></div>

  <div class="sectionA">
    <div class="title">
      <h3>每经书会</h3>
      <span class="opts">
        <%= link_to "更多", ntt_column_url(@books[:id])%>
      </span>
    </div>
    <div class="content">
      <% cache(column_show_content_key_by_id(@books[:id])) do %>
        <div class="subLeftCol">
          <%= render :partial => "columns/article_list", :locals => { :digest_number => 1, :digest_restrict => true, :articles => [(@books[:articles].map(&:article)[0]||[])], :for_subdomain => Settings.ntt_sub_domain, :column_id => @books[:id]}%>
        </div>
        <div class="subRightCol">
          <%= render :partial => "columns/article_list", :locals => { :digest_number => 1, :digest_restrict => true, :articles => [(@books[:articles].map(&:article)[1]||[])], :for_subdomain => Settings.ntt_sub_domain, :column_id => @books[:id]}%>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  </div><!-- sectionA -->
</div>
<div class="rightCol nttIndex">
  <% cache(column_show_content_key_by_id(@urbanization[:id])) do %>
    <%= render :partial => "columns/article_list", :locals => {:list_title => "十字路口的城镇化", :more_title => "进入专题", :list_title_tail => "?type=feature", :more_title_tail => "?type=feature", :digest_number => 1, :digest_restrict => true, :articles => (@urbanization[:articles].map(&:article)||[]), :for_subdomain => Settings.ntt_sub_domain, :column_id => @urbanization[:id], :html_class => "feature"}%>
  <% end %>
  <div class="divider mbs"></div>

  <% cache(column_show_content_key_by_id(@house_observe[:id])) do %>
  <%= render :partial => "columns/article_list", :locals => {:list_title => "楼市观察", :more_title => "进入专题", :articles => @house_observe[:articles].map(&:article).compact, :column_id => @house_observe[:id], :digest_number => 1, :digest_restrict => true, :for_subdomain => "ntt", :list_title_tail => "?type=feature", :html_class => "feature"} %>
  <% end %>
  <div class="divider mbs"></div>


  <% cache(column_show_content_key_by_id(@huaerjie_observe[:id])) do %>
    <%= render :partial => "columns/article_list", :locals => {:list_title => "说不完的华尔街", :more_title => "进入专题", :list_title_tail => "?type=feature", :more_title_tail => "?type=feature", :digest_number => 1, :digest_restrict => true, :articles => (@huaerjie_observe[:articles].map(&:article)||[]), :for_subdomain => Settings.ntt_sub_domain, :column_id => @huaerjie_observe[:id], :html_class => "feature"}%>
  <% end %>

  <!-- 广告位：智库_右边栏一 -->
  <%= render :partial => "ads/ad", :locals => { :id => "347595", :html_class => "right_box" } %>
  
  <% cache(column_show_content_key_by_id(@one_word_articles_id)) do %>
    <%= render :partial => "columns/one_word", :locals => { :article => Article.of_column(100, 1, {}).first.try(:article) }%>
  <% end %>
  <div class="divider" style="margin-bottom:10px;"></div>

  <%= render :partial => "ntt/columnists/columnist_list", :locals => { :columnists => @newest_columnists }%>
  <div class="divider" style="margin-bottom:5px;"></div>
  <% cache(column_show_content_key_by_id(@activities_articles[:id])) do %>
    <%= render :partial => "columns/article_list", :locals => {:list_title => "智库公告", :digest_number => 0, :digest_restrict => true, :articles => (@activities_articles[:articles].map(&:article)||[]), :for_subdomain => Settings.ntt_sub_domain, :column_id => @activities_articles[:id]}%>
  <% end %>
  <div class="divider" style="margin-bottom:5px;"></div>
  <% cache(column_show_content_key_by_id(@reporter_notes[:id])) do %>
    <%= render :partial => "columns/article_list", :locals => {:list_title => "每经记者", :digest_number => 0, :digest_restrict => true, :articles => (@reporter_notes[:articles].map(&:article)||[]), :for_subdomain => Settings.ntt_sub_domain, :column_id => @reporter_notes[:id]}%>
  <% end %>
  <div class="divider" style="margin-bottom:5px;"></div>
</div>
<div class="clear"></div>
<div class="sectionA">
  <div class="title">
    <h3>智库专家</h3>
  </div>
  <div class="content">
    <div id="columnistNameList">
      <% @all_columnists.sort_by(&:slug).each do |columnist| %>
        <%= link_to columnist.name, ntt_columnist_url(columnist), :target => "_blank" %>
      <% end %>
    </div>
  </div>
</div>
<div class="clear"></div>
