<% @title = @article.title %>
<%= require_css "site_article.css" %>
<%= require_js "speak_mana.js" %>
<%= require_js "jquery.color.js" %>
<%= require_popWin %>
<%= require_fixedPosition %>
<%= require_autoComplete %>

<% content_for :header_ad do %>
	<script type="text/javascript">
		BAIDU_CLB_preloadSlots("347473","347491","347495","347499","347516");
	</script>
	<!-- 广告位：文章详情页_顶部四分之三通栏 -->
	<%= render :partial => "ads/ad", :locals => { :id => "347473", :html_class => "header" } %>
<% end %>

<% cache(article_crumbs_nav_key_by_id(@article.id), :expire_in => Article::EXPIRE_IN) do %>
  <%= render :partial => "articles/crumb", :locals=>{:first_column => @first_column, :for_subdomain => Settings.western_sub_domain}%>
<% end %>

<% @_come_back = true %>
<%= render :partial => "sessions/pop_register_box" %>

<% #render :partial => "articles/hot_keywords"%>
<div id="articalMain">
  <div class="leftCol">
    <%= render :partial => "articles/article_content", :locals => {:for_subdomain => Settings.western_sub_domain} %>
    <%= render :partial => "articles/comments_block" %>

	<%= render :partial => "articles/jump_nav" %>

  </div>

  <div class="rightCol">
    <!-- 广告位：文章详情页_右边栏一 -->
    <%= render :partial => "ads/ad", :locals => { :id => "347491", :html_class => "right_box", :html_style => "margin-top:0px;" } %>

    <% cache(column_collected_articles_key_by_id(@column_top_picks[:id]), :expire_in => Column::EXPIRE_IN) do %>
      <%= render :partial => "columns/article_feature", :locals => {:list_title => "频道推荐", :articles => (@column_top_picks[:articles] || []).map(&:article).compact, :column_id => @column_top_picks[:id], :digest_number => 4, :html_class => "articleWallWrapper"} %>
    <% end %>

    <div class="divider" style="margin-bottom:10px;"></div>

    <% cache(column_show_content_key_by_id(@nbd_weekly_comment[:id], "uniq_views")) do %>
      <% if (_article = @nbd_weekly_comment[:articles].map(&:article).compact[0]) %>
        <%= render :partial => "columns/one_word", :locals => { :article => _article }%>
      <% end %>
    <% end %>

    <div class="divider" style="margin-bottom:10px;"></div>

    <% if @hot_topics[:topics].present? %>
      <% cache(Topic::HOT_TOPIC_FRAGMENT_CACHE_KEY) do %>
        <%= render :partial => "columns/hot_weibo_topic_entry", :locals => {:topic => @hot_topics[:topics].first}%>
      <% end %>
    <%end%>
	<div class="divider" style="margin-bottom:10px;"></div>

        <%= render :partial => "columns/hot_articles" %>
    <% cache(column_show_content_key_by_id(@featured_articles[:id], true, "uniq")) do %>
      <%= render :partial => "columns/article_feature", :locals => {:list_title => "每日精选", :articles => @featured_articles[:articles].map(&:article).compact, :column_id => 5, :digest_number => 4, :html_class => "articleWallWrapper", :html_style => "margin-bottom:15px;"} %>
    <%end %>

    <% cache(column_show_content_key_by_id(@focus_articles[:id], true , "uniq")) do %>
      <%= render :partial => "columns/article_list", :locals => {:list_title => "媒体聚焦", :articles => @focus_articles[:articles].map(&:article).compact, :column_id => 8, :digest_number =>1, :display_datetime => true, :html_style => "margin-bottom:10px;", :digest_restrict => true } %>
    <%end %>

    <!-- 广告位：文章详情页_右边栏二 -->
		<%= render :partial => "ads/ad", :locals => { :id => "347495", :html_class => "right_box" } %>

    <%= render :partial => "columns/nbd_promo", :locals => {:hide_newspappers => true, :title => "移动客户端"} %>
    <%= render :partial => "columns/subscription", :locals => {:html_style => ""} %>

  </div>

  <div class="clear"></div>
</div>

<!-- 广告位：文章详情页_底部通栏 -->
<%= render :partial => "ads/ad", :locals => { :id => "347499", :html_class => "footer" } %>

<!-- 广告位：文章详情页_右下角漂浮 -->
<%= render :partial => "ads/ad", :locals => { :id => "347516" } %>
