<li id="weibo_<%= weibo.id  %>">
	<% if false %>
	<div class="rtNumBox roundCorner">
		<div class="rtNumBoxTop"><%= weibo.rt_count %></div>
		<div class="rtNumBoxBottom">转发</div>
	</div>
	<% end %>
	<%= link_to(image_tag(user_avatar_path(weibo.owner, :middle)), user_path(weibo.owner), :class=>"avatar") %>
	<div class="itemContent">
		<p><%= link_to weibo.owner.nickname, user_path(weibo.owner) %>: <%= weibo.content %></p>
		<div class="itemBottom">
			<span class="rf">
                <%= link_to "转发#{weibo.rt_count > 0 ? '(' + weibo.rt_count.to_s + ')': ''}", rt_weibo_path(weibo), :remote => true, :class => "weiboRetweet" %><span class="divider">|</span>
				<%= link_to "评论#{weibo.reply_count > 0 ? '(' + weibo.reply_count.to_s + ')' : ''}",  'javascript:void(0)',  :class => "weiboComment", :id => "weibo_comments_#{weibo.id}" %>
			</span>
			<%= link_to nbd_time_f(weibo.created_at), weibo_url(weibo) %>
		</div>
	</div>
	<div class="clear"></div>
</li>