<%= require_css "console_feature" %>
<div class="sectionA">
  <div class="title">
    <h1>专题-添加新专题</h1>
    <span class="opts">
      <%= link_to '<span>取消</span>'.html_safe, console_features_path, :class => "btnGray" %>
    </span>
  </div>
  <div class="error">
  </div>
  <div class="content rightColCenter">
    <%= simple_form_for([:console, @feature], :html => {:id => "feature_form", :class => "formA"}) do |f| %>
      <p>
        <%= f.input :title , :label => "标题:" %>
      </p>
      <p class="formRightAlign">
        <input type="submit" class="hiddenSubmit" />
        <%= link_to "<span>添加新专题</span>".html_safe, "javascript:void(0);", :onclick => "$(this).closest('form').submit();return false;", :id => "create_new_feature", :class => "btnBlueM" %>
      </p>
    <%end%>
  </div>
</div>
