<%
  is_valid_premium_user = @current_user && @current_user.is_valid_premium_user?
  is_payed_premium_user = @current_user && @current_user.mn_account.try("payed?")
%>

<style type="text/css">
.tzbContainerTop { padding:2px 0 0 20px; height:50px; background:url(/images/tou_zi_bao/box_top_with_navigation.png) 0 0 no-repeat; }
.tzbInfo { float:none; width:auto; }
</style>

<% content_for :tzbHeader do %>
<div id="header">
  <div class="innerCenter">
    <% if false %><img id="tzbBanner" src="/images/tou_zi_bao/banner.jpg" alt="" /><% end %>
    <p id="quickIntro">
      <strong>《每日经济新闻》</strong>是一份全国发行、影响力巨大的财经类报纸。<br/>每经证券资讯产品由一个对证券市场经验丰富的研发团队专门负责开发，该团队成员有多年从事证券市场研究的券商高级研究员和高级投顾，有多年行业公司采访经验的高级记者、编辑，有多年征战股市战绩显著的私募高手，有对宏观经济和政策研究较深的专家学者。
    </p>
  </div>
</div>
<% end %>

<% content_for :tzbNav do %>
<ul class="tzbNav">
  <li class="current"><%= link_to "每经投资宝", introduce_premium_mobile_newspaper_account_url %></li>
  <li><%= link_to "股东大会实录", Settings::gms_articles_features_url %></li>
  <li><%= link_to "每经投资快讯", introduce_premium_mobile_news_index_url %></li>
</ul>
<% end %>

<div class="tzbLeftColumn">
  <div class="tzbSideNav">
    <img src="/images/tou_zi_bao/touzibao_logo.png" alt="每经投资宝" />
    <ul>
      <% if is_payed_premium_user %>
      <li><%= link_to "<b class='user'></b>账号信息".html_safe, premium_mobile_newspaper_account_url %></li>
      <% else %>
      <li><%= link_to "<b class='buy'></b>立刻购买".html_safe, new_premium_mobile_newspaper_account_url %></li>
      <li><%= link_to "<b class='card'></b>卡号激活".html_safe, new_premium_mobile_newspaper_account_url + "?type=1" %></li>
      <% end %>
      <li><%= link_to "<b class='check'></b>在线阅读".html_safe, today_premium_touzibaos_url %></li>
      <li><%= link_to "<b class='feedback'></b>意见反馈".html_safe, new_premium_feedback_path %></li>
    </ul>
  </div>

  <p class="tc mtl">
    <%= link_to "圣诞大礼《2013投资宝典》".html_safe, "http://www.nbd.com.cn/features/216", :target => "_blank" %><br>
    <span class="f12">特别提醒：《每经投资宝·天天赢家》的正式（一年期及以上）用户，<%= link_to "免费查看 &raquo;".html_safe, "http://www.nbd.com.cn/features/216", :target => "_blank" %></span>
  </p>
  <p><span></span></p>

  <% if is_valid_premium_user %>
  <p class="mtl f12">
    <% if @current_user.is_premium_overdue_soon? %>
    <span class="b">温馨提示：</span>您购买的投资宝将于<span class="red"><%= @current_user.mn_service_time %>天</span>后(<%= @current_user.mn_account.service_end_at.strftime("%Y年%m月%d日") %>)到期。<%= link_to "[立刻续费]".html_safe, new_premium_mobile_newspaper_account_url %>   
    <% end %>
  </p>
  <% end %>
</div>

<div class="tzbRightColumn">
	<div class="tzbInfo">
		<p>
			<img src="/images/tou_zi_bao/touzibao.png" alt="每经投资宝">
		</p>
    <p>每经投资宝 · 天天赢家</p>
		<p>
			<strong>产品介绍：</strong><br>专注于给投资者提供有前瞻性、实用性、有效性和指导性的财经证券资讯信息，是投资者理想的权威的投资顾问。
		</p> 			
		<strong>栏目设置：</strong>
		<table class="tableNormal" style="width:auto;">
			<thead>
				<tr>
					<th>栏目</th><th>内容简介</th>
				</tr>
			</thead>
			<tbody>
        <tr><td class="tdw20p">美股风向</td>  <td>欧美股市及国际大宗商品最新动态；美国股市最新的股票炒作动向，从美国股市最新动向中揭示A股的连动机会。</td></tr>
        <tr><td>每经精选</td>  <td>从国际国内多方面精选对证券市场具有重大影响的资讯信息和财经证券政策进行深度解读进行解读，并从中挖掘机会或揭示风险。</td></tr>
        <tr><td>价值发掘</td>  <td>每经研究院精心研究或者深度调查的中线价值股的持续追踪，是价值投资和中期投资的良品。</td></tr>
        <tr><td>题材驱动</td>  <td>从产业相关政策、重大突发事件、突发行业新闻中挖掘短线交易性机会或揭示风险 </td></tr>
        <tr><td>主编观点</td>  <td>在股市的短线或者中长线转折关头，研究院策略研究委员会提出的指导性观点</td></tr>
        <tr><td>资金监测</td>  <td>从资金价格、央行公开市场操作、盘面资金流动等多个方面对市场资金供给等情报进行分析研判</td></tr>
        <tr><td>盘面雷达</td>  <td>从龙虎榜、高管增减持、大宗交易、板块个股异动等盘口信息挖掘机会或揭示风险</td></tr>
        <tr><td>机构情报</td>  <td>动态跟踪基金、社保、保险、QFII、私募等机构动向，从中挖掘机会或揭示风险</td></tr>
        <tr><td>股期导航</td>  <td>从股指期货和融资融券运行中，折射股市趋势的未来可能的方向</td></tr>
        <tr><td>公司前沿</td>  <td>从上市公司最新动态中挖掘机会或揭示风险</td></tr>
			</tbody>
		</table>
   <p>
    <strong>发送时间：</strong>交易日当天早上8点30左右（因运营商网络原因，无法接收彩信的用户请登录网站收看）
  </p>

  <p>
    <strong>产品资费：</strong>
    <!-- 60元/月、 -->160元/季度、300元/半年、580元/全年。
  </p> 

</div>
</div><!--rightColumn-->
