<%
html_class = 'gray' unless html_class
%>
<div id="top" class="<%=html_class%>"><div id="topStyle">
  <div class="innerCenter">
    <a class="smallLogo" href="http://www.nbd.com.cn" title="每经网">每经网</a>
    <ul class="lf">
      <%if false%>
        <% Column.where(:id => Column::DIS_MAIN_NAVS).each_with_index do|column, index| %>
          <li <%if index == 0%>class="first"<%end%>><%= link_to column.name, column_url(column), :class => "#{@column_id == column.id ? 'highlight' : ''}" %></li>	
        <% end %>

        <li class="last"><%= link_to "社区", weibo_host_url, :class => "#{@community_home_nav ? 'highlight' : ''}" %></li>
      <%end%>

      <li class="first"><%= link_to "首页", Settings.host, :class => "#{request.url.chomp("/") == Settings.host ? 'highlight' : ''}" %></li>
      <li><%= link_to "资讯", customize_host_url('news'), :class => "#{request.url.chomp("/") == customize_host_url('news') ? 'highlight' : ''}" %></li>  
      <li><%= link_to "股票", customize_host_url('stock'), :class => "#{request.url.chomp("/") == customize_host_url('stock') ? 'highlight' : ''}" %></li>  
      <li><%= link_to "公司", customize_host_url('company'), :class => "#{request.url.chomp("/") == customize_host_url('company') ? 'highlight' : ''}" %></li>  
      <li><%= link_to "金融", customize_host_url('finance'), :class => "#{request.url.chomp("/") == customize_host_url('finance') ? 'highlight' : ''}" %></li>
      <li><%= link_to "汽车", customize_host_url('auto'), :class => "#{request.url.chomp("/") == customize_host_url('auto') ? 'highlight' : ''}" %></li>   
      <li><%= link_to "全球", column_url(47), :class => "#{request.url.chomp("/") == column_url(47) ? 'highlight' : ''}" %></li>  
      <li><%= link_to "智库", Settings.ntt_host, :class => "#{request.url.chomp("/") == Settings.ntt_host ? 'highlight' : ''}" %></li>  
      <li><%= link_to "品味", customize_host_url('life'), :class => "#{request.url.chomp("/") == customize_host_url('life') ? 'highlight' : ''}" %></li>  
      <li><%= link_to "管理", customize_host_url('bschool'), :class => "#{request.url.chomp("/") == customize_host_url('bschool') ? 'highlight' : ''}" %></li>  
      <li><%= link_to "社区", weibo_host_url, :class => "#{@community_home_nav ? 'highlight' : ''}" %></li>
      <li  class="last"><%= link_to "西部", Settings.western_host %></li>
    </ul>
    <ul class="rf">
      <%if @current_user.present?%>
        <li><span><%= @current_user.nickname %></span> <%= link_to "[退出]", user_sign_out_url, :method => :delete %></li>
        <li><%= link_to "我的首页", user_url(@current_user) %></li>
        <li><%= link_to "账户设置", settings_user_url %></li>
        <li class="last"><%= link_to "意见反馈", user_url('每经网客服') %></li>
      <%else%>
        <li><%= link_to "登录社区", user_sign_in_url %></li>
        <li class="last"><%= link_to "意见反馈", user_url('每经网客服') %></li>
      <%end%>
    </ul>
  </div>
</div></div>