<div class="nav_item">
  <dl>
    <dt><%= link_to "首页", Settings.host %></dt>
    <dd><%= link_to "要闻", column_url(3) %></dd>
    <dd><%= link_to "专题", column_url(183) %></dd>
  </dl>
  <dl>
    <dt><%= link_to "股票", column_url(10) %></dt>
    <dd><%= link_to "行情", column_url(12) %></dd>
    <dd><%= link_to "个股", column_url(23) %></dd>
  </dl>
</div>
<div class="nav_item">
  <dl>
    <dt><%= link_to "公司", column_url(33) %></dt>
    <dd><%= link_to "热度", column_url(35) %></dd>
    <dd><%= link_to "科技", column_url(39) %></dd>
  </dl>
  <dl>
    <dt><%= link_to "资讯", column_url(6) %></dt>
    <dd><%= link_to "时事", column_url(187) %></dd>
    <dd><%= link_to "热点", column_url(188) %></dd>
  </dl>
</div>
<div class="nav_item">
  <dl>
    <dt><%= link_to "汽车", column_url(129) %></dt>
    <dd><%= link_to "新车", column_url(132) %></dd>
    <dd><%= link_to "热点", column_url(140) %></dd>
  </dl>
  <dl>
    <dt><%= link_to "全球", column_url(47) %></dt>
    <dd><%= link_to "快讯", column_url(48) %></dd>
    <dd><%= link_to "精选", column_url(55) %></dd>
  </dl>
</div>
<div class="nav_item">
  <dl>
    <dt><%= link_to "智库", ntt_index_url %></dt>
    <dd><%= link_to "访谈", column_url(102) %></dd>
    <dd><%= link_to "专家", ntt_columnists_url %></dd>
  </dl>
  <dl>
    <dt><%= link_to "金融", column_url(119) %></dt>
    <dd><%= link_to "银行", column_url(122) %></dd>
    <dd><%= link_to "理财", column_url(127) %></dd>
  </dl>
</div>
<div class="nav_item last">
  <dl>
    <dt><%= link_to "区域", column_url(44) %></dt>
    <dd><%= link_to "西部", west_index_url %></dd>
    <dd><%= link_to "上海", column_url(226) %></dd>
  </dl>
  <dl>
    <dt><%= link_to "品味", column_url(61) %></dt>
    <dd><%= link_to "体娱", column_url(63) %></dd>
    <dd><%= link_to "生活", column_url(64) %></dd>
  </dl>
</div>