<div class="topBar">
  <div class="innerCenter">
    <div class="l">
      <ul>
        <li class="first"><%= link_to "每经网首页", Settings.host %></li>
        <li><%= link_to "资讯", customize_host_url('news') %></li>  
        <li><%= link_to "股票", customize_host_url('stock') %></li>  
        <li><%= link_to "公司", customize_host_url('company') %></li>  
        <li><%= link_to "金融", customize_host_url('finance') %></li>
        <li><%= link_to "汽车", customize_host_url('auto') %></li>   
        <li><%= link_to "全球", column_url(47) %></li>  
        <li><%= link_to "智库", Settings.ntt_host %></li>  
        <li><%= link_to "品味", customize_host_url('life') %></li>  
        <li><%= link_to "管理", customize_host_url('bschool') %></li>  
        <li><%= link_to "社区", weibo_host_url %></li>
        <li class="last"><%= link_to "西部", Settings.western_host %></li>
      </ul>
    </div>
    <div class="r">
      <%= render :partial => "columns/search_box" %>
    </div>
  </div>
</div>