<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>每经资讯产品</title>
  <%= stylesheet_link_tag "reset", "style_global", "style_website", "mobile_newspaper" %>
  <%= yield :header_css %>
  <%= javascript_include_tag "jquery.min", "jquery_ujs", "nbdtools" %>
  <%= yield :header_js %>
  <%= csrf_meta_tag %>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>

<body>

<div id="top" class="dark"><div id="topStyle">
   <div class="innerCenter">
        <a class="smallLogo" href="http://www.nbd.com.cn" title="每经网">每经网</a>
        <ul class="lf">
          <li class="first last"><%= link_to "每经资讯产品", introduce_premium_mobile_newspaper_account_path %></li>
        </ul>
        <ul class="rf">
            <%if @current_user.present?%>
              <li><span><%= @current_user.nickname %></span> <%= link_to "[退出]", user_sign_out_url, :method => :delete %></li>
              <li><%= link_to "账户信息", premium_mobile_newspaper_account_url %></li>
            <%else%>
              <li><%= link_to "登录", user_sign_in_url %></li>
            <%end%>
            <li><%= link_to "意见反馈", new_premium_feedback_path, :target => "_blank" %></li>
            <li class="last">客服电话：028 8666-0288</li>
        </ul>
    </div>
</div></div>

<%= yield :tzbHeader %>

<div id="wrapper">
  <div class="tzbContainerTop">
    <%= yield :tzbNav %>
  </div>
  <div class="tzbContainer"><%= yield %></div>
  <div class="tzbContainerBtm"></div>
</div>

<%= render :partial => "layouts/footer" %>
<%= render :partial => "layouts/analytics" %>
</body>
</html>
