<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @title.blank? ? "每经微博" : "#{@title} | 每经微博"%></title>
    <%= stylesheet_link_tag "reset", "style_global", "style_website" %>
    <%= yield :header_css %>
    <%= javascript_include_tag "jquery.min", "jquery_ujs", "jquery.color", "nbdtools", "weibo_search_suggest" %>
    <%= yield :header_js %>
    <%= csrf_meta_tag %>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link rel="shortcut icon" href="http://static.nbd.com.cn/favicon.ico" type="image/x-icon"/>
    <meta name="Keywords" content="财经新闻,财经报道,叶檀,道达,老法师看盘,股市直播,郑眼看盘,股市行情,财经证券,基金,荐股,股市内参,股吧,传闻,内幕,板块,个股,黑马,股市新闻,生活,汽车" />
    <meta name="Description" content="24小时财经资讯平台，依托新锐财经日报《每日经济新闻》(National Business Daily)，打造中国最具影响力的经济、股票网站。覆盖宏观、股票、基金、期货、股指期货、外汇、债券、保险、银行、黄金、理财等全方位财经新闻。" />
  </head>

  <body id="body_weibo">

    <%= render :partial => "sessions/pop_register_box" %>

    <div id="top" class="dark"><div id="topStyle">
        <div class="innerCenter">
          <ul class="lf">
            <li class="first last"><%= link_to "每经网首页", column_url(1) %></li>
          </ul>

          <ul class="rf">
            <%if @current_user.present?%>
              <li><span><%= @current_user.nickname %></span> <%= link_to "[退出]", user_sign_out_url, :method => :delete %></li>
              <li><%= link_to "账号设置", settings_user_url %></li>
              <li class="last"><%= link_to "意见反馈", user_url('每经网客服') %></li>
            <%else%>
              <li><%= link_to "登录社区", user_sign_in_url %></li>
              <li class="last"><%= link_to "意见反馈", user_url('每经网客服') %></li>
            <%end%>
          </ul>
        </div>
      </div></div>

    <div id="header">
      <div class="innerCenter" id="logo">
        <a href="/" class="logo" id="logoWeibo" title="每经网">每经网</a>
        <div id="weiboMainNav">
          <% form_tag(community_search_url, :method => "get", :class => "searchBox rf") do%>
            <%= text_field_tag(:q, "", :class => "searchInput", :id => "searchWeibo", :autocomplete => "off") %>
            <%= hidden_field_tag(:type, "", :class => "searchInput", :id => "searchType") %>
            <%= link_to "", "javascript:void(0)", :onclick => "$(this).parents('form').submit();return false;", :class => "searchBtn" %>

            <div style="display:none" id="searchQueryBox" class="fakeSelectBox roundCorner">
              <ul id="searchQueryList" class="fakeSelectList">
                <li>搜"<strong></strong>"相关微博</li>
                <li>搜"<strong></strong>"相关用户</li>
              </ul>
            </div>
          <%end%>
          <%if @current_user.present?%>
            <div id="mainNavList" class="rf">
              <%= link_to "微博社区", weibo_host_url %>|<%= link_to "我的首页", user_url(@current_user) %>|<%= link_to "我的微博", profile_user_url(@current_user) %><!--|<%= link_to "好友", "#" %>-->
            </div>
          <%end%>
        </div>
      </div>
    </div>

    <div id="wrapper">
      <div id="weiboWrapper">
        <%= yield %>
      </div>
    </div>

    <%= render :partial => "layouts/footer" %>
    <%= render :partial => "layouts/analytics" %>
  </body>
</html>
